body{
    margin: 0;
    padding: 0;
}
$main-font-primery:'Poppins', sans-serif;
$main-font-secondery:'Montserrat', sans-serif;
// .header-type{
//   position: relative;
//   .header-box{
//     position: fixed;
//   }
// }
.icon-1{
  visibility: hidden;
  opacity: 0;
}
.heder-main-menu{
    display: flex;
    justify-content: space-around;
    position: absolute;
    z-index: 9;
    width: 99%;
    margin-top: 20px;
    .header-logo h2{
       height: 45px;
       color: aliceblue;
       font-size: 18px;
       font-weight: 800;
       font-family: $main-font-secondery;
       letter-spacing: 1;
       height: 20px;
    }
    .header-text-div{
        .header-ul{
            width:557px;
            display: flex;
            list-style-type: none;
            justify-content: space-between;
            margin-top: 0px;
            .header-li{
               line-height: 4;
              
               .header-link{
                 text-decoration: none;
                 color: aliceblue;
                 font-family:$main-font-primery;
                 font-size: 14px;
                 font-weight: 400;
                 line-height: 20px;
               }
            }
        }
    }
}
.bener-img{
    background-image: url(../image/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    top: 0;
    position: relative;
    .bener-color{
        background-color: rgba(0, 0, 0, 0.64);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    h1 {
      margin-top: 0px;
    font-size: 47px;
    color: #fff;
    font-weight: 800;
    font-family: $main-font-secondery;
    margin-bottom: 0px;
    text-align: center;
    }
    .bener-img .cd-headline {
      font-size: 3rem;
      line-height: 1.2;
      margin-top: 0px;
      }
      .cd-words-wrapper {
        display: inline-block;
        position: relative;
        text-align: left;
      }
      .cd-words-wrapper b {
        display: inline-block;
        position: absolute;
        white-space: nowrap;
        left: 0;
        top: 0;
      }
      .cd-intro {
        text-align: center;
        font-size: 40px;
      }
      .cd-intro h1{
        margin-top: 0px;
       font-family:$main-font-secondery ; 
       font-size: 60px;
       font-weight: 400;
       color: #ffff;
      }
      .cd-words-wrapper b.is-visible {
        position: relative;
      }
      .no-js .cd-words-wrapper b {
        opacity: 0;
      }
      .no-js .cd-words-wrapper b.is-visible {
        opacity: 1;
      }
    
      /* -------------------------------- 
      
      xclip 
      
      -------------------------------- */
      .cd-headline.clip span {
        display: inline-block;
        padding: .2em 0;
      }
      .cd-headline.clip .cd-words-wrapper {
        overflow: hidden;
        vertical-align: top;
      }
      .cd-headline.clip .cd-words-wrapper::after {
        /* line */
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 2px;
        height: 100%;
        background-color: #5c4f4f;
      }
      .cd-headline.clip b {
        opacity: 0;
      }
      .cd-headline.clip b.is-visible {
        opacity: 1;
      }
      .icons-menu{
        display: flex;
        margin: 0 auto;
      }
      .icons-1 {
        color: #fff;
        background: rgba(0, 0, 0, 0.7098039216);
        width: 8%;
        padding: 10px;
        border-radius: 100px;
        text-align: center;
        margin-left: 9px;
        font-size: 14px;
    }
      
}


.about-text-menu{
  display: flex;
  width: 74%;
  margin: 0 auto;
  margin-top: 98px;
  .about-img img{
    width: 439px;
}
.about-box-1 {
  margin-left: 36px;
}
  .about-box-1 h1{
    font-family: $main-font-secondery;
    font-size: 30px;
    font-weight: 800;
    width: 100%;
    margin-bottom: 5px;
  }
  .about-box-1 h2{
    font-size: 14px;
    font-weight: 400;
    font-family: $main-font-primery;
    color: #999;
    margin-top: 0px;
  }
  .about-p{
    font-size: 15px;
    font-family: $main-font-primery;
    font-weight: 400;
    color: #748182;
    line-height: 1.6;
    width: 100%;
  }
  .meter {
    background: #ccc;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 5px;
    box-shadow: 0 -1px 1px rgb(255 255 255 / 0%);
    display: block;
    height: 29px;
    margin-bottom: 28px;
    position: relative;

    > span {
        display: block;
        margin-top: 10px;
        height: 70%;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        background-color: rgb(6, 6, 6);
        background-image: linear-gradient(to top, rgb(7, 8, 7) 37%, rgb(3, 3, 3) 69%);
        box-shadow: 0 2px 9px rgba(255, 255, 255, 0.3) inset 0 -2px 6px rgba(0, 0, 0, 0.4);
        position: relative;
        padding: 4px;
        overflow: hidden;
        transition: 2s ease-out;
      }
      span h4{
          color: #fff;
          font-family: $main-font-secondery;
          font-size: 12px;
          margin-top: 1px;
          font-weight: 500;
      }
      span h5{
          color: #fff;
          justify-content: end;
          font-family: "Poppins", sans-serif;
          font-size: 10px;
          margin-top: -34px;
          text-align: end;
      }
  }
  
  .orange {
    > span {
      background-color :rgb(10, 9, 9);
      background-image :linear-gradient(to bottom, rgb(0, 0, 0), rgb(8, 8, 8));
    }
  }
  
  .red {
    > span {
      background-color :#030303;
      background-image :linear-gradient(to bottom, #000000, #0c0c0c);
    }
  }
  
  .cadetblue {
    >span {
      background-color :#0000;
      background-image :#0000
    }
  }
  .button-1{
    background-color: #000000;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 27%;
  }
  .button-2{
    background-color: #fff;
    border: 1px solid #000000 ;
    color: #000000;
    padding: 10px;
    border-radius: 5px;
    width: 27%;
  }
  .button-1:hover{
    background-color: #fff;
    border: 1px solid #000000 ;
    color: #000000;
    padding: 10px;
    border-radius: 5px;
    width: 27%;
  }
  .button-2:hover{
    background-color: #000000;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 27%;
  }
}
.Services-menu{
  background: #f7f7f7;
   height:891px;
   margin-top: 97px;
}
.Services-menu h1{
    font-size: 40px;
    font-family: $main-font-secondery;
    font-weight: 900;
    text-align: center;
    color: #343434;
    padding: 100px;
    padding-bottom: 30px;
    margin-left: 38px;
  }
.Services-box-menu{
  display: flex;
}  
.Services-box{
  width: 80%;
  height: 600px;
  margin: 0 auto;
}
.box-1{
  width: 295px;
  height: 221px;
  background-color: white;
  padding: 30px;
  margin-left: 50px;
  box-shadow: 0px 10px 30px -8px rgb(0 0 0 / 10%);
  margin-bottom: 40px;
  .icon-box{
    width: 11%;
    height: 11%;
    background-color: #f7f7f7;
    border-radius: 100px;
    text-align: center;
    padding: 17px;
    font-size: 23px;
    margin: 0 auto;
    color: #343434;
    text-align: center;
  }
  .icon-box:hover{
    color: #f7f7f7; 
    background-color: #343434;
  }
  .box-text h2{
     font-size: 18px;
     font-family: $main-font-secondery;
     font-weight: 900;
     color: #343434;
     text-align: center;
  }
  .box-text p{
    width: 101%;
    text-align: center;
    color: #748184;
    font-family: $main-font-primery;
    font-size: 14px;
    }
}
.Portfolio-menu{
   position: relative;
    .Portfolio-box h1{
        font-size: 40px;
        font-family: $main-font-secondery;
        font-weight: 900;
        text-align: center;
        padding-top: 100px;
        margin-left: 30px;
        color: #343434;
    }
   .Portfolio-ul{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: 0 auto;
       .Portfolio-li:hover{
          border-bottom: #343434 3px solid;
       }
   }
   .imeg-box{
    display: flex;
    width: 75%;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 58px;
   }
   .imeg-box-1{
    display: flex;
    width: 75%;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 28px;
   }
   .imeg-1{
    background-image: url(../image/1\ \(1\).jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 360px;
    height: 300px;
    
  }
  
   .imeg-2{
    background-image: url(../image/2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 360px;
    height: 300px;
  }
  .imeg-3{
    background-image: url(../image/3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 360px;
    height: 300px;
 }
  .imeg-4{
    background-image: url(../image/4.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 360px;
    height: 300px;
  }
  .imeg-5{
    background-image: url(../image/5.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 360px;
    height: 300px;
  }
  .imeg-6{
    background-image: url(../image/6.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 360px;
    height: 300px;
 }
}
.imeg-1::after{
  content: "";
  margin-left: 50px;
  width: 94%;
  height: 95%;
  position: absolute;
  background-color: #e0dfdf;
  top: 0px;
  right: 15px;
  visibility: hidden;
  opacity: 0;
}
.Portfolio-item-hover{
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #a7a4a4;
  visibility: hidden;
  opacity: 0;
  z-index: 999;
}
.Portfolio-item-hover h6{
  color: #343434;
  font-size: 12px;
  font-weight: 700;
  line-height: 13px;
  margin-bottom: 10px;
  font-family: $main-font-secondery;
  letter-spacing: 2px;
}
.imeg-1:hover .Portfolio-item-hover{
  visibility: visible;
  opacity: 1;
}

.container{
  max-width: 1140px;
  margin: auto;
  margin-bottom: 50px;
  padding-top: 100px ;
  padding-bottom: 70px;

  .row{
    display: flex;
    .couter{
      width: 40%;
      height: 30%;
      text-align: center;
      margin-left: 50px;
    }
    .icon-2 {
      font-size: 40px;
      color: #343434;
      margin-bottom: 0px;
    }
    .couter h1{
      font-size: 30px;
      font-family: $main-font-secondery;
      font-weight: 900;
      margin-top: 10px;
      margin-bottom: 0px;

    }
    .couter h2{
      font-size: 15px;
      font-family: $main-font-primery;
      font-weight: 600;
      color: #748182;
      margin-top: 10px;
    }
  }
}
.swiper {
  width: 100%;
  height: 88vh;
  margin-top: 100px;
}
.swiper h1{
     font-size: 40px;
     font-family: $main-font-secondery;
     font-weight: 900;
     color: #343434;
     background-color: #f7f7f7;
     height: 50px;
     margin-bottom: 0px;
     text-align: center;
     padding-top: 100px;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function,initial);
  box-sizing: content-box;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background:#f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 60%;
  // height: 60%;
}

.swiper-slide img {
  display: block;
  width: 60%;
  height: 60%;
  object-fit: cover;
} 
.swiper-slide{
    flex-shrink: 0;
    position: relative;
    transition-property: transform;
    display: block;
    padding-top: 76px;
 }
    //   .swiper-slide img {
    //     border-radius: 100%;
    //     display: block;
    //     width: 8%;
    //     height: 60%;
    //     object-fit: cover;
    //     margin: 0 auto;
    // }

.swiper-slide .img-menu .img-swiper {
  width: 96%;
  height: 50%;
  margin-left: 17px;

} 
.swiper-slide img {
  display: block;
  width: 9%;
  height: 60%;
  object-fit: cover;
  border-radius: 100px;
  margin: 0 auto;
}
.img-swiper p{
  font-size: 15px;
  font-family: $main-font-primery;
  font-weight: 400;
  color: #748182;

}
.img-menu {
  width: 74%;
  margin: 0 auto;
}
.img-swiper h5{
    font-size: 16px;
    font-family: $main-font-secondery;
    font-weight: 600;
    color: #343434;
    margin-bottom: 10px;
}
.img-swiper h6{
  font-size: 12px;
  font-family: $main-font-primery;
  color: #8888;
  font-weight: 600;
  margin-top: 0px;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: var(--swiper-pagination-bottom,8px);
  top: var(--swiper-pagination-top,auto);
  left: 0;
  width: 100%;
  padding-bottom: 74px;
  margin-left: -8px;
}

.home-demo{
  background-color: #f7f7f7;
  width: 80%;
  margin: 0 auto;
}
.bolg-box{
  background-color: #f7f7f7;
  padding-bottom: 100px;
}
.item{
  background-color: #fff;
  box-shadow: 0px 10px 30px -8px rgb(0 0 0 / 10%);
  margin-left: 20px;
  overflow: hidden;
}
.item img{
  transition: all .5s;
  vertical-align: middle;
}
.item:hover img{
    transform: scale(1.15);

}
.home-demo h5{
  font-size: 40px;
  font-family: $main-font-secondery;
  font-weight: 900;
  text-align: center;
  margin-bottom: 70px;
  padding-top: 59px;
  color: #343434;
}
.item h6{
  font-size: 12px;
  font-family: $main-font-secondery;
  font-weight: 600;
  color: #8888;
  margin-bottom: 0px;
}
.item h1{
  font-size: 20px;
  font-family: $main-font-secondery;
  font-weight: 800;
  width: 100%;
  color: #343434;
  line-height: 1.6;
}
.item h2{
  font-size: 14px;
  font-family: $main-font-primery;
  font-weight:400;
  border-bottom: 2px #474646 solid;
  width: 23%;
}
.text-box{
  padding-top: 0px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}
.home-demo h2 {
  color: #606666;
  margin: 0;
  font-style: italic;
  font-weight: 300;
}
.content-box{
  .content-wedth{
    width: 100%;
    margin-bottom: 100px;
  }
  .icon-boxing{
    width: 300px;
    height: 200px;
    text-align: center;
  }
  .Contact-menu h1{
    font-size: 40px;
    font-family: $main-font-secondery;
    font-weight: 900;
    text-align: center;
    padding-top: 100px;
  }
  .content-menu-text{
    display: flex;
    margin: 0 auto;
    width: 59%;
    margin-top: 82px;
  }
  .icon-3{
    font-size: 25px;
    width: 22px;
    height: 22px;
    background-color: #f7f7f7;
    color: #343434;
    border-radius: 100px;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
  }
  .icon-3:hover{
    color: #f7f7f7; 
    background-color: #343434;
  }
  .content-text h4{
    font-size: 16px;
    font-family: $main-font-secondery;
    font-weight: 700;
    margin-bottom: 4px;
    margin-top: 13px;
  }
  .content-text h6{
    font-size:15px ;
    font-family: $main-font-primery;
    font-weight: 400;
    color: #748182;
    margin-top: 0px;
  }
  .input-type-menu{
    margin: 0 auto;
  }
  .text-menu {
    width: 60%;
  }
  .text-input-box{
    width: 50%;
    display: flex;
    margin: 0 auto;
    margin-bottom: 15px;
    input[type="text"] {
      width: 107%;
      border: 0;
      background-color: #f4f4f4;
      padding: 10px;
      border-radius: 5px;
      font-size: 16PX;
      margin-left: -73px;
    }
    input[type="email"] {
      width: 107%;
      border: 0;
      background-color: #f4f4f4;
      padding: 10px;
      border-radius: 5px;
      font-size: 16PX;
      margin-left: -13px;
    }
    }
    textarea {
      border: 0;
      width: 56%;
      font-size: 16px;
      padding: 10px;
      background-color: #f4f4f4;
      margin-left: 20%;
      border-radius: 5px;
      margin-bottom: 20px;
  }
  .button-3{
    background-color: #000000;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 10%;
    margin-left: 20%;
  }
  .button-3:hover{
    background-color: #fff;
    border: 1px solid #000000 ;
    color: #000000;
    padding: 10px;
    border-radius: 5px;
    width: 10%;
    transition: all 1s ease-in-out;
  }
}
.footer-type{
  background-color: #1c1c1c;
  padding: 10px;
}
.footer-type h6{
  text-align: center;
  color: #fff;
  font-family: $main-font-primery;
  font-size: 13px;
  font-weight: 400;
  word-spacing: 2px;
  color: #748182;
}